<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kanban App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



</head>
<body>
    <div class="jumbotron text-center">
      <h1>Your Kanban Board</h1>

    </div>

    <div class="well">
        <h3>Add a new task:</h3>
        <form action="{{ url_for('add') }}" method="POST">
            <label for="title">Task title</label><br>
            <input type="text" id="title" name="title" required ><br>
            <label for="des">Task description</label><br>
            <textarea id="des" rows = "5" cols = "60" name = "description"></textarea><br>
<!--            <input type="text" name="description"><br>-->
            <label for="state">Task Type</label>
            <select id="state" name="state">
              <option value="todo">Todo</option>
              <option value="doing">Doing</option>
              <option value="done">Done</option>
            </select><br>
            <input type="submit" value="Create Task">
        </form>
    </div>

    <div class="container">
      <div class="row">
          <div class="collect_tasks todo col-sm-4">
            <h2>Todo</h2>
            {% if todo|length %}
              {% for item in todo %}
                <div class="task well">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.description }}</p>
                    <div class="edit">
                        <form action="{{ url_for('update_state', id=item.id, state='doing') }}" method="POST">
                            <input type="submit" value="Mark as Doing">
                        </form>
                        <form action="{{ url_for('update_state', id=item.id, state='done') }}" method="POST">
                            <input type="submit" value="Mark as Done">
                        </form>
                        <form action="{{ url_for('delete', id=item.id) }}" method="POST">
                            <input type="submit" value="Delete this task">
                        </form>
                    </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="well">
                <p>No Tasks</p>
              </div>
            {% endif %}
          </div>

          <div class="collect_tasks doing col-sm-4">
            <h2>Doing</h2>
            {% if doing|length %}
              {% for item in doing %}
                <div class="task well">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.description }}</p>
                    <div class="edit">
                        <form action="{{ url_for('update_state', id=item.id, state='todo') }}" method="POST">
                            <input type="submit" value="Mark as To-do">
                        </form>
                        <form action="{{ url_for('update_state', id=item.id, state='done') }}" method="POST">
                            <input type="submit" value="Mark as Done">
                        </form>
                        <form action="{{ url_for('delete', id=item.id) }}" method="POST">
                            <input type="submit" value="Delete this task">
                        </form>
                    </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="well">
                <p>No Tasks</p>
              </div>
            {% endif %}
          </div>

          <div class="collect_tasks done col-sm-4">
            <h2>Done</h2>
            {% if done|length %}
              {% for item in done %}
                <div class="task well">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.description }}</p>
                    <div class="edit">
                        <form action="{{ url_for('update_state', id=item.id, state='todo') }}" method="POST">
                            <input type="submit" value="Mark as To-do">
                        </form>
                        <form action="{{ url_for('update_state', id=item.id, state='doing') }}" method="POST">
                            <input type="submit" value="Mark as Doing">
                        </form>
                        <form action="{{ url_for('delete', id=item.id) }}" method="POST">
                            <input type="submit" value="Delete this task">
                        </form>
                    </div>

                </div>
              {% endfor %}
              {% else %}
                <div class="well">
                  <p>No Tasks</p>
                </div>
              {% endif %}
            </div>

      </div>
    </div>

</body>
</html>
